<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suyog.newapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/milkman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".distReg" />
        <activity android:name=".login" />
        <activity android:name=".cust_reg" />
        <activity android:name=".addProduct" />
        <activity android:name=".search_dist" />
        <activity android:name=".cust_homepage" />
        <activity android:name=".dist_homepage" />
        <activity android:name=".view_requests" />
        <activity android:name=".search_cust" />
        <activity android:name=".cust_list" />
        <activity android:name=".addTodaysSales" />
        <activity android:name=".sendNotifDist" />
        <activity android:name=".sendNotifCust" />
        <activity
            android:name=".floatingCustInfo"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".viewNotifCust"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".viewNotifDist"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".addSales"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".displayBill"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".viewBillsDist" />
        <activity android:name=".viewBillsCust" />
        <activity android:name=".distProfile" />
        <activity android:name=".addCustomer"></activity>
    </application>

</manifest>